{
  "presets" : ["env", "stage-1", "react"],
  "plugins": ["transform-decorators-legacy", "transform-decorators", ["transform-regenerator", {
    "asyncGenerators": false,
    "generators": false,
    "async": false
  }]]
}